table,th,tr,td {
    border:solid 1px hotpink;
    border-collapse: collapse;
}

#baner{
    background-color: rgb(105,88,89);
    color:white;
    font-size: 150%;
    text-align: center;
    height: 80px;
}
#lewy{

}
#srodkowy{

}
#prawy{

}
