table,th,td,tr{
    border: solid 1px black;
    border-collapse: collapse;
}

h1, body{
    margin: 0px;
}

#baner{
    background-color: RGB(105,88,89);
    color: white;
    font-size: 150%;
    text-align: center;
    height: 80px;
}

#lewy{
    background-color: RGB(145,127,112);
    height: 600px;
    width: 30%;
    float:left;
}

#srodek{
    background-color: RGB(184,168,169);
    height: 600px;
    width: 50%;
    float: left;
}

#prawy{
    background-color: RGB(145,127,112);
    height: 600px;
    width: 20%;
    float: left;
}


h2{
    color: white;
}

img{
    float: right;
}
